<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="container pt-5 mt-5">
        <div class="flex flex-col space-y-4 text-center mt-4">
            <h2 class="mx-auto my-2 max-w-md text-2xl font-medium tracking-tight md:text-3xl">
                Data Scientist in Tunis
            </h2>
            <p style="max-width: 600px; margin: auto; text-align: center;">
                We're looking for a curious, driven data scientist with extensive Python 
                experience to help us create more and more data science jobs in Tunis, Tunisia. 
                <br>
                Ideally, you can start in January 2025. 
            </p>
            <p style="max-width: 600px; margin: auto; text-align: center;">
                <br>
                It is a plus if you have experience with open-source software, 
                statistics, algorithms, complex software architecture and/or 
                international work contexts. 
                You must be willing to work from our office in Tunis.
            </p>
            <p style="max-width: 600px; margin: auto; text-align: center;">
                <br>
                <b>If you want to join, send an email to alex.gansmann@hey.com</b>.
            </p>
            <p style="max-width: 600px; margin: auto; text-align: center;">
                <br>
                About us: Khaldoun develops open-source products to achieve more with less.
                We're a team of German and Tunisian data scientists 
                who have successfully deployed AI products at European companies, 
                generating millions of Euros in value.
            </p>
        </div>
    </div>
{% endblock body_block %}
