{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container pt-5 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="flex flex-col space-y-4 text-center mt-4">
            <p style="max-width: 600px; margin: auto; text-align: center;">
                Alex Gansmann, EDV-Dienstleistungen<br>
                Hügelstrasse 75B<br>
                64283 Darmstadt<br>
                Deutschland<br>
                <a href="mailto:alex.gansmann@hey.com">alex.gansmann@hey.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock body_block %}

