{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container pt-5 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="d-flex flex-column text-center mt-4">
            <p class="text-center mx-auto col-md-8 col-lg-6">
                Alex Gansmann, EDV-Dienstleistungen<br>
                Hügelstrasse 75B<br>
                64283 Darmstadt<br>
                Deutschland<br>
                <a href="mailto:alex.gansmann@hey.com">alex.gansmann@hey.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock body_block %}

