<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="container pt-5 mt-5">
        <div class="flex flex-col space-y-4 text-center mt-4">
            <h2 class="mx-auto my-2 max-w-md text-2xl font-medium tracking-tight md:text-3xl">Khaldoun</h2>
        </div>
        <div class="flex flex-col space-y-4 text-center mt-4">
            <p style="max-width: 600px; margin: auto; text-align: center;">
                Khaldoun is an automation & data collection company
                (<a href="https://github.com/khaldoun-xyz" target="_blank">Github</a>).
                <br>
                We help our clients do more with less. 
            </p>
        </div>
        <div class="flex flex-col space-y-4 text-center mt-4">
            <p style="max-width: 600px; margin: auto; text-align: center;">
                We are based in Tunis, Tunisia, and Frankfurt, Germany. 
                <br>
                If you want to join, reach out to <a href="https://www.linkedin.com/in/alex-gansmann/" target="_blank">Alex</a>.
            </p>
        </div>
    </div>
{% endblock body_block %}
